.sidebar{
  border-radius: 10px;
  margin-top: 10px;
  width: 20%;
  overflow: hidden;
  padding: 0 !important;
}
.main{
  border-radius: 10px;
  margin-top: 10px;
  width: 50%;
  overflow: hidden;
}
.widgets{
  background: white;
  border-radius: 10px;
  margin-top: 10px;
  width: 20%;
  overflow: hidden;
}
.f-poppins{
  background: rgb(238, 238, 238);
}